@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

#root {
  margin: 0;
  padding: 0;
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  background-color: #111917;
  /* overflow: hidden; */
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  /* background-color: #111917; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.FooterPagesHover {
  text-decoration: none;
  color: white; /* Ensure the color matches your inline style */
  font-size: 14px; /* Ensure the font size matches your inline style */
}

.FooterPagesHover:hover {
  text-decoration: underline;
  color: black;
}
